.myinfo{
  // width:300px;
  min-width: 300px;
  background: #fff;
  box-sizing: border-box;
  padding:20px;
  dl{
    text-align: center;
    dt{
      text-align: center;
    }
    dd{
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }
}