.myinfo{
  // width:300px;
  min-width: 300px;
  background: #fff;
  box-sizing: border-box;
  padding:20px;
  dl{
    text-align: center;
    dt{
      img{
        width:50px;
        height:50px;
        border-radius: 50%;
      }
    }
    dd{
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }
  .item{
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 14px;
    padding-bottom: 10px;
    overflow: hidden;
    &:hover{
      color: #6fa6e2;
      .editIcon{
        display: inline-block;
      }
      .w240{
        // display: inline-block;
      }
    }
    .w240{
      width:240px;
      display: none;
    }
    .editIcon{
      display: none;
      margin-left:8px;
      cursor: pointer;
    }
    i{
      margin-right:10px;
    }
  }
}